#uu{
    position: absolute;
    right: 10%;
    top: 5cm;
    width: 40%;
    
   
}
.abc{
    margin-left:3%;
    margin-top: 2cm;
}

.ub{
    margin-left: 3%;
}

.bb{
 background-color: rgb(199, 198, 198);  
    margin-left: 0%;
    margin-top: 2c;
}
.bc{
    background-color: rgb(255, 255, 255);
}
.ab{
    width: 100%;
}
.dd{
    position: absolute;
    right: 0%;
    top:36cm ;
    margin-right: 10cm;
}
.cc{
    margin-top: 2%;
    margin-left:2.5cm ;
}
.bn{
    
     display: flex;
}
